body 
{ 
	font-family: Arial; 
}

.row 
{
  height: 250px;
  width: 24%;
  border: 1px solid #333; 
  padding: 2%;
  margin: 0.5%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  box-sizing: border-box;
}

.topRow
{
  border: 1px solid #000; 
	padding: 10px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
  margin: 0.5%;
}

h1 
{ 
  margin: 1% 0.5%;
	background: #34495e; 
	color: #ecf0f1; 
	font-weight: bold; 
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 5px solid #000;
}

.untranslated, .translated, .needReview
{
	height: 20px;
	float: left;
	display: block;
}

.untranslated
{
	background: #e74c3c; 
}

.translated 
{
	background: #27ae60;
}

.needReview
{
	background: #f39c12;
}

.translatedText
{
	color: #27ae60;
}

.needReviewText
{
	color: #f39c12;;
}

.untranslatedText
{
	color: #e74c3c;
}

.totalText, .translatedText, .untranslatedText, .needReviewText
{
	font-weight: bold;
}

ul
{
	padding-left: 0;
}
